@model SalesTrack.Models.OrderMonth

<div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Add Order
                </h2>
            </div>
        </div>
    </div>

</div>



<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">

                        @using (Html.BeginForm("Save", "OrderMonth", FormMethod.Post, new {@name="frmOrderMonth", autocomplete = "off"}))
                        {

                            <div class="form-group mb-3 ">
                                <label class="form-label">Year</label>
                                <div>
                                    @Html.TextBoxFor(m => m.Year, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group mb-3 ">
                                <label class="form-label">Month</label>
                                <div>
                                    @Html.TextBoxFor(m => m.Month, new { @class = "form-control", @type = "number" })
                                    @Html.ValidationMessageFor(m => m.Month, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group mb-3 ">
                                <label class="form-label">Name</label>
                                <div>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">Save Order</button>
                                <a href="/OrderMonth/Index" class="btn btn-default">Cancel</a>

                            </div>


                        }

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>






